#accomodation{
    .accomodation-thumbnail-images{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    img{
        width: 100%;
    }
    .accomodation-thumbnails{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .features-section{
        .accomodation-features{
            color: #9FA3AF;
            font-size: 1.5em;
            font-weight: lighter;
            text-align: center;
            border: 1px solid #EAEAEA;
            padding: 30px 0px;
        }
    }
    section{
        header{
            margin: 30px 0px;
        }
    }
    .accomodation-contact{
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none; 
        }
        margin-bottom: 30px;
    }

}
.accomodation-thumbnail-images{
    width: 100%;
    height: 150px !important;
    object-fit: cover !important;
}

.accomadation{
    height: 250px;
    img{
        object-fit: cover !important;
        width: 100%;
        height: 100%;
    }
}