#attractivelocation{
    .attractive-loc-img{
        img{
            width: 100%;
            object-fit: cover;
            height: 400px;
        }
    }
    img{
        width: 100%;
        
    }
    section{
        header{
            margin: 19px 0px;
        }
    }
    .attractive-loc-header{
        h2{
            display: flex;
            align-items: center;

            span{
                margin-left: 10px;
                background-color: #0b8071;
            }
        }
    }
    .attractive-thumbnails{
        margin-top: 30px;
        
        img{
            margin-bottom: 30px;
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
    }
    .attractive-contact{
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none; 
        }
        margin-bottom: 20px;
    }
}