#loader{
    width:100%;
    height:100vh;
    position: fixed;
    z-index: 99;
    background-color: white;
  }
  .pulse {
    animation: pulse 1s infinite;
    width:200px;
    height:200px;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
  }
  .hidden{
      animation: fade  forwards; 
     display: none;
  }
  
  @keyframes fade{
      0%{
        opacity: 1;
      }
      25%{
        opacity: 0.7;
      }
      50%{
        opacity: 0.5;
      }
      75%{
        opacity: 0.2;
      }
      100%{
          opacity: 0;
          display: none;
      }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 #0b8071;
    }
    70% {
        -moz-box-shadow: 0 0 0 30px #0b8071;
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }