#offers{
    .offers_table{
        margin-top: 43px;
        table{
            text-align: center;
            width: 100%;
            border: 0.5px solid rgb(226, 226, 226);
        }
    }
    .offers-loc-img{
        img{
            width: 100%;
            object-fit: cover;
            height: 400px;
        }
    }
    img{
        width: 100%;
    } 
    section{
        header{
            margin: 10px 0px;
        }
    }
    .offers-loc-header{
        h2{
            display: flex;
            align-items: center;

            span{
                margin-left: 10px;
                background-color: #0b8071;
            }
        }
    }
    .offers-thumbnails{
        margin-top: 30px;
        
        img{
            margin-bottom: 30px;
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
    }
    .promotion-code{
            background-color: darkgoldenrod;
    }
    .discount{
            background-color: #0b8071;
    }
    .offers-contact{
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none; 
        }
        margin-bottom: 30px;
    }
}